//Fonts
.fa-facebook-f:hover {
    color: #3b5998;
}
.fa-instagram:hover {
    color: #C13584;
}
.fa-twitter:hover {
    color: #00acee;
}

//Global
body {
    background: #0A1021;
    color: #fff;
    height: 100%;
}

main {
    overflow-x: hidden;
}

section {
    padding-top: 175px;
    padding-bottom: 175px;
}

.no-overflow {
    overflow-y: hidden !important;
}

.hero {

    h1 {
        margin-bottom: 21px;
    }

    @media only screen and (max-width: 992px) {
        h1 {
            font-size: 2em;
        }
    }

    @media only screen and (min-width: 992px) {
        h1 {
            font-size: 5em;
        }
    }

    h2 {
        font-size: 18px;
    }

    .hero-cta {
        margin-top: 50px;
        font-size: 24px;
        text-transform: uppercase;

        .btn:hover {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1) !important;
            -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,1) !important;
            box-shadow: 0px 0px 10px 0px rgba(255,255,255,1) !important;
        }

        a {
            color: #fff;
        }
    }
}

.hero-bg {
    height: 100vh;
    background-size: cover;
    padding-bottom: 100px !important;
}

.btn-primary {
    background: #fd0561 !important;
    border: 1px solid #fd0561;
}

.btn-outline-primary {
    border: 1px solid #fd0561;
}

.btn-outline-primary:hover {
    background: #fd0561;
}
