//ContactBar
.contact-bar {
    background: #000;
    padding: 15px 0;
    border-bottom: 1px solid #fff;

    a {
        color: #fff;
    }
    a:hover {
        text-decoration: none !important;
        opacity: .8;
    }
}

// NavBar
nav {
    min-height: 80px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.58);
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.58);

    .nav-item {
        letter-spacing: 1px;
    }

    a {
        color: #fff;
    }
    a:hover {
        color: #fd0561;
        opacity: .8;
    }

    .btn-outline-primary:hover {
        background: none;
    }

    .active-nav {
        color: #fd0561;
    }
}

.navbar-brand {
    font-size: 20px;
    letter-spacing: 5px;
}

.nav-mobile {
    width: 100%;

    .mobile-nav-link {
        border-bottom: 1px solid #616161;
    }
}
