.home {

    .hero-bg {
        background: linear-gradient(to bottom, rgba(103, 103, 103, 0), #0A1021), url("/img/home-hero1.jpg") center right;
    }

    section {
        padding-top: 275px;
    }
}
